/* TextBlock Component */
.big-heading {
    font-size: 7rem;
}

.small-heading {
    font-size: 40pt
}

/* UserNav Component */
.close-button:hover {
    justify-content: end;
    cursor: pointer;
  }

.nav-icon:hover {
  cursor: pointer;
}

  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0 8px 16px;
    list-style: none;
    height: 60px;
    text-decoration: none;

  }
  
  .nav-text a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: white;
    color: black;
  }

/* Inspiration Component */
.card-opacity {
  background-color: rgba(0, 0, 0, 0.9);
}
  
/* Footer Component */
.footer-link {
  color: #FF5733;
}

.footer-link:hover {
  color: white;
}